:root {
    --p-card-color: red;
    --card-border-radius: 25rem;
    --p-card-title-font-size: 1.25rem;
}

#card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10rem auto 1rem auto !important;
    overflow: hidden;
}

.login {
    margin: 0 auto !important;
}

#spinner {
    width: 22px;
    height: 22px;
}