$spinner-size: 22px

#card
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    margin: 10rem auto 1rem auto !important
    overflow: hidden

.login
    margin: 0 auto !important

#spinner
    width: $spinner-size
    height: $spinner-size

.p-message.p-message-error
    color: #f44336
    font-size: 0.875rem
    margin-top: 0.5rem

.p-button
    margin-top: 1rem
