#menu {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 20px;
}

#avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ece9fc;
    color: #2a1261;
    cursor: pointer;
}

#spinner {
    width: 22px;
    height: 22px;
    margin: 0 3rem;
}