$avatar-size: 2.5rem
$spinner-size: 22px

#menu
    list-style-type: none
    position: fixed
    top: 0
    width: 100%
    z-index: 1000
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 20px

#avatar
    width: $avatar-size
    height: $avatar-size
    background-color: #ece9fc
    color: #2a1261
    cursor: pointer

#spinner
    width: $spinner-size
    height: $spinner-size
    margin: 0 3rem
